body {
    padding-top: 0;
}

.about-section {
    position: relative;
    width: 100%;
    background-color: black;
    font-family: var(--font-giostra);

    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-title {
    font-family: var(--font-giostra);
    font-size: 2.5em;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    text-align: center;

}

.about-card{
    background-color: var(--bg-card);
    border-radius: 8px;
    padding: 2em;

    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    .about-card {
        flex-direction: row;
        text-align: left;
        gap: 5em;
        max-width: 1000px;
        margin: 0 auto;
    }

    .about-text {
        text-align: justify;
        flex: 1.5;
        font-size: 1.1em;
    }

    .page-title {
        display: block;
        font-size: 2.5em;
    }

    .about-logo {
        flex: 1;
    }

    .about-logo img {
        max-width: 350px;
    }
}