body {
  padding-top: 0;
}

.about-section {
  position: relative;
  width: 100%;
  background-color: black;
  font-family: var(--font-giostra);
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-card {
  background-color: var(--bg-card);
  border-radius: 8px;
  padding: 2em;

  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-self: center;

  max-width: 900px;
  width: 90%;
}

.title {
  align-items: center;
  text-align: center;
}

.about-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-logo img{
  max-width: 200px;
  width: 100%;
  height: auto;
}

.about-text {
  flex: 2;
  text-align: center;
}

.about-text p {
  font-family: var(--font-body);
  color: var(--text-muted);
  font-size: 1.1em;
  line-height: 1.8;
  margin-bottom: 1em;
}